<div class="container">
  <form>
    <div class="form-group">
      <input type="file" (change)="uploadFirstFile($event.target.files)" class="btn">
      <input type="file" (change)="uploadSecondFile($event.target.files)" class="btn">

      <button (click)="testFilesMatching()" type="button" class="btn btn-outline-success">Test files</button>
      <button class="reset" type="reset" class="btn btn-outline-danger">Reset</button>
      <br><hr><br>
    </div>
  </form>
  <div>
    <h3>Mode 1 outputs:</h3>
    <pre>{{matchMode1}}</pre>
  </div>

  <br><hr><br>

  <div>
    <pre></pre>
    <h3>Mode 2 outputs:</h3>
    <pre>{{matchMode2}}</pre>
  </div>
</div>

